@import url('../../global.css'); 

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 350px;
    margin-top: 50px; /* Espaçamento abaixo do cabeçalho */
    padding: var(--spacing-medium);
    background-color: white; 
    border-radius: 8px; /* Adicionando um leve arredondamento */
}

.icon-user {
    font-size: 70px; 
    color: var(--color-primary);
    margin-bottom: 25px;
}

.form-group {
    width: 100%;
    margin-bottom: var(--spacing-medium);
    text-align: center;
}

.form-group label {
    display: block; 
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    text-align: center; 
}

.forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    color: var(--color-primary);
    text-decoration: none;
    text-align: right;
    width: 100%;
}

.login-button {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 20px;
    transition: background-color 0.3s;
    width: 50%;
}

.login-button:hover {
    background-color: #8c0007;
}