:root {
    --font-family: 'Roboto', sans-serif;
    --font-h1-size: 2vw;
    --font-h1-weight: 900;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BC010C;
    font-size: var(--font-h1-size);
    font-weight: var(--font-h1-weight);
    color: white;
    width: 100vw;
    height: 8vw;
    text-align: center;
}
